.navlist {
    list-style-type: none;
    display: flex;
    align-items: start;
    gap: 5vw;
}

.home, .sell, .about {
    text-decoration: none;
    color: #FFFEFE;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 8vw;
    flex-shrink: 0;
    background: linear-gradient(0deg, #531073 16.04%, rgba(191, 139, 39, 0.53) 100%);
}

